@use 'sass:math';
@use 'mixin' as *;

$breakpoints: (
    xs: 1px,
    sm: 768px,
    md: 1024px,
    lg: 1440px,
    xl: 1664px,
    2xl: 1920px,
) !default;

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.col {
  min-height: 1px;
  width: 100%;
}

$grid-columns: 12;

@each $key, $value in $breakpoints {
  @include bp($key) {
    @for $i from 1 through $grid-columns {
      .col--#{$key}-#{$i} {
        width: round((math.div($i, $grid-columns) * 100%) * 1000) / 1000;
      }
    }
  }
}